@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --dark: #333;
    --light: #FFF;
    --red: #EE3038;
    --light-border: #e4cdcd;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 13px 20px;
    background-color: var(--dark);
    color: var(--light);
    align-items: center;
}

.navbar-logo img {
    width: 100px;
    filter: invert(1);
}

.navbar-mobile-logo img {
    width: 100px;
    filter: invert(1);
}

.navbar-items {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.active {
    background: var(--red);
}

.navbar-items li:hover {
    background: var(--red);
}

.navbar-items li{
    transition: background 0.4s ease-in-out; 
    border-radius: 50px;

}

.navbar-items li a {
    color: var(--light);
    text-decoration: none;
    padding: 0 10px;
}

.navbar-mobile-items {
    list-style-type: none;
}

.navbar-mobile-items li
{
    width: 20vw;
    margin: 0 auto;
    transition: background 0.4s ease-in-out; 
    border-radius: 50px;
}

.navbar-mobile-items li:hover {
    background: var(--red);
}

.nav-icons {
    display: flex;
    gap: 20px;
}


#navbar-mobile-view {
    text-align: center;
    background: var(--dark);
    color: var(--light);
}

.hide {
    display: none;
}

#hamburger-icon {
    display: none;
}

#cart-icon {
    cursor: pointer;
}

.navbar-mobile-items li a {
    color: var(--light);
    text-decoration: none;
}


.main-carousel {
    width: 100%; 
    height: 400px; 
    position: relative;
    bottom: 0.4rem;
  }

  .carousel-cell {
    width: 100%; 
    height: 100%; 
    background-size: cover;
    background-position: center;
  }


.categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 70px;
    flex-wrap: wrap;
}

.category {
    cursor: pointer;
    position: relative;
    border: 1px solid var(--light-border);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.category .category-text {
    position: absolute;
    top: 1rem;
    padding: 0 10px;
    color: var(--light);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.category .category-img {
    position: relative;
    overflow: hidden; 
}

.category .category-img img {
    transition: transform 0.5s ease-in-out;
}

.category .category-img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.5); 
    transition: height 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.category .category-img:hover::after {
    height: 100%;
}

.category .category-img:hover + .category-text {
    opacity: 1; 
}

.products-header {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
}

.products-header p {
    font-weight: 500;
    font-size: 18px;
} 

.products-header button {
    border: none;
    cursor: pointer;
    background: none;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 70px;
    flex-wrap: wrap;
}

.product {
    border: 1px solid var(--light-border);
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    position: relative;
}

.product-text {
    background: #EBEEEE;
}

.product-details p{
    text-align: center;
    padding: 0 20px;
}

.product-details p:first-child {
    font-weight: 600;
    font-size: 20px;
}

.product-details p:nth-child(2){
    width: 20vw;
}

.product-circles {
    text-align: center;
    font-size: 25px;
}

.products .product .product-img img {
    width: 20vw;
    padding: 0;
}

.product-price {
    font-weight: 600;
}

.product-details {
    padding: 20px;
}

.product-btn-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.product-price-detail {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
}

.product-price-detail .product-price {
    font-size: 35px;
}

.product-availability {
    background: #E2F6ED;
    box-shadow: 2px 2px 2px #E2F6ED;
    padding: 0 10px;
}

.product-btn-price div p {
    font-weight: 600;
    font-size: 25px;
}

.add-to-cartBtnDetailPage {
    border: 2px solid var(--red);
    padding: 10px 100px;
    color: var(--red);
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.add-to-cartBtnDetailPage:hover {
    background: var(--red);
    color: var(--light);
}

.product-btn-price button {
    border: 2px solid var(--red);
    padding: 10px 20px;
    color: var(--red);
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.product-btn-price button:hover {
    border: 2px solid var(--red);
    background: var(--red);
    color: var(--light);
}

.product-text {
    padding: 0 10px;
}

.products-header, .categories {
    margin-top: 20px;
}

.products-header p {
    text-transform: uppercase;
}

.products-header p, a {
    font-size: 1.1em;
}

.product-category {
    position: absolute;
    right: 0;
    writing-mode: vertical-lr;
    padding: 0.3em;
    background: var(--dark);
    color: #FFF;
    font-size: 15px;
}

.product-detail {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-info {
    text-align: center;
}

.product-info .product-name {
    font-weight: bold;
    font-size: 2em;
}

.product-info .product-description {
    text-align: justify;
}

marquee {
    background: var(--dark);
    border-top: 1px solid var(--light-border);
    padding: 10px 0;
    color: var(--light);
}

.marquee-train {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}


.footer {
    display: grid;
    background: var(--dark);
    color: var(--light);
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 40px;
    gap: 100px;
}

.footer-headings {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.email-field {
    border: none;
    padding: 10px 15px;
}

.email-field:focus {
    outline: none;
}

.subscribe-btn {
    border: none;
    padding: 10px 20px;
    background: var(--red);
    color: var(--light);
    font-size: 12px;
    display: block;
    margin-top: 10px;
}


#cart {
    height: 100vh;
    width: 18%;
    position: fixed;
    top: 0; 
    right: 0;
    background: var(--dark);
    color: var(--light);
    z-index: 1;
    transition: transform 0.2s ease-in-out;
    transform: translateX(100%); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#cart.show {
    transform: translateX(0); 
}

#close-icon {
    cursor: pointer;
    font-size: 30px;
}


.allCartItems .cart-table {
    border-collapse: collapse !important; 
    text-align: center;
    margin-top: 30px;
}

.allCartItems .cart-table tr:first-child {
    background: #21222D;
}

.allCartItems .cart-table tr:last-child {
    border: none;
}

.cart-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
}

.cart-form button{
    border: 2px solid var(--red);
    padding: 5px 10px;
    background: transparent;
    color: var(--red);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
.viewCartBtn {
    text-decoration: none;
    color: var(--red);
}

.cart-form button:hover{
    border: 2px solid var(--red);
    padding: 5px 10px;
    background: var(--red);
    color: var(--light);
}

.cart-form button:hover a {
    color: #FFF;
}

.shopping-cart {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    margin: 25px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 7em;
}

.shopping-cart-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 7em;
    border-bottom: 1px solid var(--light-border);
}

.shopping-cart-item .product-img-text-cart {
    display: flex;
}

#quantity-increase, #quantity-decrease {
    padding: 3px 5px;
}

.cart-actionBtn {
    color: #FFF;
    background: transparent;
    padding: 3px 10px;
}



@media screen and (max-width: 772px){
    #hamburger-icon {
        display: block;
        cursor: pointer;
    }
    #cart-icon {
        display: none;
    }
    .navbar-items {
        display: none;
    }
    .footer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 772px){
    .navbar-mobile-view {
        display: none;
    }
}
